*.pyc
settings.py
/src/processing_visualization/.metadata
/src/processing_visualization/datavis/bin/datavis/*.class
/src/processing_visualization/datavis/lib/base/core/*.jar
/src/processing_visualization/datavis/lib/base/net/*.jar
/src/data_adapters/*
/src/processing_visualization/datavis/bin/screenshots
/design
/json-backup
/src/processing_visualization/datavis/saved_images/screenshots
/src/processing_visualization/datavis/_OLD
/deploy
/src/processing_visualization/datavis/datavis.properties
/src/labsheartbeatbackend/cache/*

/src/processing_visualization/datavis/bin/util/*.class

/src/processing_visualization/datavis/bin
